@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Hina Mincho', serif; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.bg_animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #4343df, #5a88ec); }

.header_nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.header_nav .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; }

.header_nav h1 {
  color: #b4b2fa;
  font-family: 'Hina Mincho', serif;
  font-size: 50px; }

.header_nav, .tituloIndex {
  color: #e5d9e6;
  font-family: 'Hina Mincho', serif;
  font-size: 60px;
  max-width: 100%;
  box-sizing: content-box;
  padding: auto;
  margin: auto;
  flex-direction: column; }

.tituloIndex {
  text-align: center; }

.header_nav nav a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  font-family: 'Hina Mincho', serif;
  color: #b4b2fa; }

.header_nav .navIndex a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 23px;
  font-family: 'Hina Mincho', serif;
  color: #e5d9e6; }

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.banner_title h2 {
  color: #f8f4ef;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: 'Hina Mincho', serif; }

.banner_title .registrate {
  color: #f8f4ef;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #de9dfa;
  padding: 15px;
  font-family: 'Hina Mincho', serif; }

.banner_title .inicia {
  color: #f8f4ef;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #de9dfa;
  padding: 15px;
  font-family: 'Hina Mincho', serif; }

.banner_img {
  animation-name: movimiento;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.banner_img img {
  width: 300px;
  display: block; }

.bubble {
  border-radius: 50%;
  background: #e7edf7;
  opacity: 3;
  position: absolute;
  bottom: -150;
  animation-name: burbuja;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.bubble:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 5s;
  animation-delay: 8s; }

.bubble:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 45%;
  animation-duration: 5s;
  animation-delay: 10s; }

.bubble:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s; }

.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s; }

.bubble:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s; }

.bubble:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s; }

.bubble:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 41%;
  animation-duration: 4s;
  animation-delay: 6s; }

.bubble:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s; }

.bubble:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s; }

.bubble:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s; }

@keyframes burbuja {
  0% {
    bottom: 0;
    opacity: 0; }
  30% {
    transform: translate(30px); }
  50% {
    opacity: .4; }
  100% {
    bottom: 100vh;
    opacity: 0; } }

@keyframes movimiento {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0); } }

@media (max-width: 600px) {
  .bg_animate {
    flex-direction: column; } }

.sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  background: #00ba87;
  color: #fff;
  outline: 1px solid #b1f46d; }

.sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #b1f46d; }

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sidebar li {
  outline: 1px solid #b1f46d;
  transition: all 0.3s; }

.sidebar li:hover {
  background: #00ba87;
  border-left: 5px solid #eee; }

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px; }

.contenido {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px;
  transition: all 0.3s;
  background: linear-gradient(to right, #4343df, #5a88ec); }

.menu-bar {
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px; }

.abrir {
  transform: translateX(250px); }

.tituloHis {
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  background-color: #fce9f1;
  color: #b4b2fa;
  padding-top: 45px;
  padding-bottom: 50px; }

.subtituloHis {
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
  padding-left: 35px;
  padding-bottom: 10px;
  color: #fa99d5;
  font-weight: 1000; }

.parrafoHisto {
  font-family: 'Hina Mincho', serif;
  font-size: 20px;
  padding: 35px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 30px;
  text-align: justify;
  float: left; }

.parrafoHis {
  font-family: 'Hina Mincho', serif;
  font-size: 20px;
  width: 600px;
  padding: 35px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 30px;
  text-align: justify;
  float: left; }

.listaHis {
  display: flex;
  font-family: "Hina Mincho", serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: justify;
  padding-left: 60px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 30px; }

.bordeHis {
  border: 1px dashed crimson;
  background-color: #dff2f8;
  margin: 25px;
  float: left; }

.imagenHis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 500px; }

.dos {
  border: 1px dashed crimson;
  background-color: #dff2f8;
  width: 600px;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  line-height: 30px;
  float: right; }

.frase {
  font-family: 'Hina Mincho', serif;
  width: 600px;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 30px;
  line-height: 30px;
  text-align: justify;
  position: absolute; }

.tituloSer {
  font-family: 'Hina Mincho', serif;
  font-size: 35px;
  display: flex;
  background-color: #fce9f1;
  color: #b4b2fa;
  text-align: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 20px; }

.subtituloSer {
  font-family: 'Hina Mincho', serif;
  font-size: 40px;
  padding-left: 35px;
  padding-bottom: 10px;
  color: #fa99d5;
  text-underline-offset: 1px; }

.subtituloServ {
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
  padding-left: 35px;
  padding-bottom: 10px;
  color: #fa99d5;
  text-underline-offset: 1px; }

.aroma {
  text-align: right;
  margin-right: 15px; }

.reiki {
  text-align: right;
  margin-right: 15px; }

.servicios {
  margin: 15px;
  padding: 15px;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Hina Mincho', serif;
  font-size: 20px; }

.servicios img {
  display: block;
  float: right;
  max-width: 50%;
  margin-top: 2px;
  justify-content: right; }

.foto img {
  display: block;
  float: left;
  width: 50%;
  margin-top: 2px;
  justify-content: left; }

@media screen and (max-width: 1200px) {
  .header_nav .contenedor {
    flex-direction: column;
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .header_nav .contenedor {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box; }
  .servicios img {
    display: block;
    width: 100%;
    margin-top: 2px; }
  .foto img {
    display: block;
    width: 100%; }
  .subtituloSer {
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    text-align: justify; }
  .form {
    flex-direction: column;
    margin-top: 40%;
    width: 100%; } }

@media screen and (max-width: 480px) and (orientation: landscape) {
  .tituloIndex {
    max-width: 100%;
    flex-direction: column;
    box-align: auto; }
  img {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%; }
  .header_nav .contenedor {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box; }
  .servicios img {
    display: block;
    width: 100%;
    margin-top: 2px; }
  .foto img {
    display: block;
    width: 100%; }
  .subtituloSer {
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    text-align: justify; }
  .form {
    flex-direction: column;
    margin-top: 40%;
    width: 100%; } }

@media screen and (max-width: 1100px) {
  .containerBody {
    flex-wrap: wrap; }
  .column1 {
    max-width: 100%; }
  .column2, .column3, .column4 {
    margin-top: 40px;
    max-width: 100%; } }

.contenedorG {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10%; }

.header_nave {
  display: flex; }

.contenedorGr nav a {
  margin-left: 40px;
  padding: 10px;
  margin-top: 5%;
  color: #24a7e4;
  float: right;
  font-size: 25px;
  text-decoration: none; }

.tituloG {
  font-size: 50px;
  color: #46bdf5;
  padding-top: 45px;
  padding-bottom: 50px; }

.bodyG {
  background-image: url(/imag/feng-shui.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  margin-top: 5%;
  font-family: 'Hina Mincho', serif; }

h4 {
  font-family: 'Hina Mincho', serif;
  font-size: 50px;
  color: #fce9f1; }

.tituloPro {
  font-family: 'Hina Mincho', serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fce9f1;
  color: #b4b2fa;
  padding-top: 45px;
  padding-bottom: 20px; }

.subtituloPro {
  font-family: 'Hina Mincho', serif;
  font-size: 40px;
  padding-left: 35px;
  padding-bottom: 10px;
  color: #fa99d5;
  text-underline-offset: 1px; }

.seccionPro {
  font-family: 'Hina Mincho', serif;
  font-size: 19px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 10px; }

.leeras {
  display: none; }

.objetivo {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease; }

.leeras:checked ~ .leerMas .objetivo {
  opacity: 1;
  font-size: inherit;
  max-height: 999em; }

.leeras ~ .leerMasmas:before {
  content: "Leer más"; }

.leeras:checked ~ .LeerMasmas:before {
  content: "Leer Menos"; }

.leerMasmas {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em; }

/*formularios*/
.bodyform {
  background-image: url(/imag/feng-shui.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  margin-top: 0%;
  font-family: 'Hina Mincho', serif; }

.form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 7px; }

.tituloF {
  font-family: 'Hina Mincho', serif;
  font-size: 35px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #fce9f1;
  color: #b4b2fa; }

.formuIn, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  font-family: 'Hina Mincho', serif;
  font-size: medium; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background-color: darkslateblue;
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Hina Mincho', serif; }

#boton:hover {
  cursor: pointer; }

.subtituloF {
  color: white;
  margin-left: 25%;
  padding-left: 40px; }

.mapaF {
  margin-left: 25%; }

footer {
  width: 100%;
  background-color: #202020;
  color: white; }

.containerFooterall {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.containerBody {
  display: flex;
  justify-content: space-between; }

.column1 {
  max-width: 300px; }

.column1 .imgFooter {
  width: 150px;
  height: 150px; }

.column1 h1 {
  font-size: 22px; }

.column1 p {
  font-size: 14px;
  font-weight: bold;
  color: #c7c7c7;
  margin-top: 20px;
  text-align: center; }

.column2 {
  max-width: 300px; }

.column2 h1 {
  font-size: 22px; }

.column2 .row {
  margin-top: 20px;
  display: flex; }

.row .imgFooter {
  width: 36px;
  height: 36px; }

.row .labelFooter {
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7; }

.column3 {
  max-width: 300px; }

.column3 h1 {
  font-size: 22px; }

.row2 {
  margin-top: 20px;
  display: flex; }

.row2 .imgFooter {
  width: 36px;
  height: 36px; }

.row2 .labelFooter {
  margin-left: 20px;
  max-width: 140px;
  margin-top: 10px; }

.containerFooter {
  width: 100%;
  background-color: #101010;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  color: #c7c7c7; }

.copyrigth {
  color: #c7c7c7; }

.copyrigth a {
  text-decoration: none;
  color: #c7c7c7;
  font-weight: bold; }

.information a {
  text-decoration: none;
  color: #c7c7c7; }

.column4 {
  max-width: 300px; }

.column4 h1 {
  font-size: 22px; }

.column4 a {
  text-decoration: none;
  color: #c7c7c7; }

.column4 .row {
  margin-top: 20px;
  display: flex; }
