.contenedorG{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10%;
}
.header_nave{
    display: flex;
}
.contenedorGr nav a{
    margin-left: 40px;
    padding: 10px;
    margin-top: 5%;
    color: rgb(36, 167, 228);
    float: right;
    font-size: 25px;
    text-decoration: none;
}
.tituloG{
    
    font-size: 50px;
    color: rgb(70, 189, 245);
    padding-top: 45px;
    padding-bottom: 50px;
}
.bodyG{
    background-image: url(/imag/feng-shui.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    margin-top: 5%;
    font-family: 'Hina Mincho', serif;
}
h4{
    font-family: 'Hina Mincho', serif;
    font-size: 50px;
    color: rgb(252, 233, 241) ;
}
