.bodyH{
    font-family: "Hina Mincho", serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: justify;
}
.tituloHis{
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 233, 241);
    color: rgb(180, 178, 250);
    padding-top: 45px;
    padding-bottom: 50px;
}

.subtituloHis{
    font-size: 30px;
    padding-left: 35px;
    padding-bottom: 10px;
    color: rgb(250, 153, 213);
    font-weight: 1000;
}

.parrafoHisto{
    font-size: 20px;
    padding: 35px;
    margin-left: 10px; 
    margin-right: 10px;
    line-height: 30px;
    text-align: justify;
    float: left;
}
.parrafoHis{
    font-size: 20px;
    width: 600px;
    padding: 35px;
    margin-left: 10px; 
    margin-right: 10px;
    line-height: 30px;
    text-align: justify;
    float: left;
}

.listaHis{ 
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: justify;
    padding-left: 60px;
    padding-right: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    line-height: 30px;
}   

.bordeHis{
    display: flex;
    width: 600px;
    border: 1px dashed crimson;
    background-color: rgb(223, 242, 248);
    margin: 25px;
    float: left;
    box-sizing: border-box;
}      

.imagenHis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 500px;
}

.dos{
    border: 1px dashed crimson;
    background-color: rgb(223, 242, 248);
    max-width: 600px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 25px;
    line-height: 30px;
    float: right;
}
.frase{
    width: 600px;
    font-size: 40px;
    margin-top: 300px;
    margin-left: 30px;
    line-height: 30px;
    text-align: justify;
    position: absolute;
}