.tituloHis{
    font-family: 'Hina Mincho', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 233, 241);
    color: rgb(180, 178, 250);
    padding-top: 45px;
    padding-bottom: 50px;
}

.subtituloHis{
    font-family: 'Hina Mincho', serif;
    font-size: 25px;
    padding-left: 35px;
    padding-bottom: 10px;
    color: rgb(250, 153, 213);
}


.parrafoHis{
    font-family: 'Hina Mincho', serif;
    font-size: 20px;
    padding: 35px;
    margin-left: 10px; 
    margin-right: 10px;
    line-height: 45px;
    text-align: justify;
    float: left;
}

.listaHis{ 
    display: flex;
    font-family: "Hina Mincho", serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: justify;
    padding-left: 60px;
    padding-right: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    line-height: 45px;
}

.bordeHis{
    border: 1px dashed crimson;
    background-color: rgb(223, 242, 248);
    margin: 25px;
    float: left;
}        

.imagenHis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}