//colores generales del sitio
$azul:rgb(67, 67, 223);
$azulClaro:rgb(90, 136, 236);
$titulos:rgb(180, 178, 250);
$subtitulos:#e5d9e6;
$sidebarli: #b1f46d;
$sidebar: #00ba87;

@import "indice";
@import "historia";
@import "servicios";
@import "mediasQ";
@import "gracias";
@import "productos";

/*formularios*/
.bodyform{
    background-image: url(/imag/feng-shui.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    margin-top: 0%;
    font-family: 'Hina Mincho', serif;
}
.form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 7px;
}
.tituloF{
    font-family: 'Hina Mincho', serif;
    font-size: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(252, 233, 241);
    color: rgb(180, 178, 250);
}
.formuIn, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-family: 'Hina Mincho', serif;
    font-size: medium;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Hina Mincho', serif;
}
#boton:hover{
    cursor: pointer;
}
.subtituloF{
    color: white;
    margin-left: 25%;
    padding-left: 40px;
}
.mapaF{
    margin-left: 25%;
}
footer{
    width: 100%;
    background-color: #202020;
    color: white;
    
}

.containerFooterall{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.containerBody{
    display: flex;
    justify-content: space-between;
}
.column1{
    max-width: 300px;
}

.column1 .imgFooter{
    width: 150px;
    height: 150px;
}

.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    font-weight: bold;
    color: #c7c7c7;
    margin-top: 20px;
    text-align: center;
}
.column2{
    max-width: 300px;

}
.column2 h1{
    font-size: 22px;
}
.column2 .row{
    margin-top: 20px;
    display: flex;
}
.row .imgFooter{
    width: 36px;
    height: 36px;
}

.row .labelFooter{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.column3{
    max-width: 300px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 .imgFooter{
    width: 36px;
    height: 36px;
}

.row2 .labelFooter{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}
.containerFooter{
    width: 100%;
    background-color: #101010;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: #c7c7c7;
}
.copyrigth{
    color: #c7c7c7;
}
.copyrigth a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: #c7c7c7;
}

.column4{
max-width: 300px;
}

.column4 h1{
    font-size: 22px;
}

.column4 a{
    text-decoration: none;
    color: #c7c7c7;
}
.column4 .row{
    margin-top: 20px;
    display: flex;
}


